// Override this file to add your own SCSS styling.


.header {
  width: 110%;
  height: 250px;
  background: url('/headers/header_img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 10px;
  margin-top: -50px;
  padding: 1em;
  // z-index: 1031;
  // overflow-x: auto;
  // white-space: nowrap;
}

.card-about {
  width:100%;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 8px 8px 0 0 #2079c7;
  transition: all 0.2s ease-out;
  border: 1px solid #2079c7;
  border-radius: 5px;
  padding: 1.5rem;
  background-color: #F7F7F7;
}

.card-about a {
  // color: rgba(0,0,0,0.8);
  background-color: rgba(0,0,0,0.8);
  // color: inherit
  border-bottom: 1.5px #D90429 dotted;
  cursor: pointer;
}

.card-about a:hover {
  border-bottom: 1.5px #0EAD69 dotted;
  text-decoration: none !important;
  color: #0EAD69;
  cursor: pointer;
  transition: color 0.6s ease;
}

.portrait {
border-radius: initial !important;
width: 300px;
height: 300px;
}

.site-navigation
{
  margin-bottom:0px !important;
}
